#filters,.filters,#pub-grid {
	padding: 20px 0 30px 0 !important;
}

#publications .pageheader{
	background-image: url(../img/publications.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 190px 0 35px 0;
}

#publications .pageheader .title{
	  color: #fff;
	  border: none;
}

#pub-grid .mix {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	display: none;
}

.pitems .item {
	margin-bottom: 20px;
	width: 100%;
}

.pitems {
	background: #fefefe;
	padding: 25px 25px 35px 25px;
	min-height: 150px;
	position: relative;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	cursor: pointer;
}

.pubmain {
	background: #fefefe;
	padding: 25px 10px 35px 25px;
	min-height: 150px;
	position: relative;

	-webkit-box-shadow: 0px 3px 3px -3px #ccc;
	box-shadow: 0px 3px 3px -3px #ccc;
	cursor: pointer;
}

.pitems .pubtitle {
	margin: 0;
	padding: 0 0 15px 0;
	font-size: 18px;
	font-weight: 300;
}

.pitems .pubmain div {
	font-size: small;
}

.pitems .pubmain .label {
	margin-right: 0px;
}

.pitems .pubmain .pubassets {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fafafa;
	text-align: center;
	border-top: 2px solid;
}

.pitems .pubmain .pubassets a {
	color: #9b9b9b;
	padding: 5px 15px;
	float: right;
	font-size: 18px;
}

.pitems .pubmain .pubassets a:hover,.pitems .pubmain .pubassets a:focus,.pitems .pubmain .pubassets a.pubcollapse {
	/*background: #03cc85;*/
	color: #fff;
}

.pitems .pubdetails {
	background: #fff;
	padding: 25px;
	display: none;
}

.about-paragraph {
	width: 95%;
}