---
layout: base
---

{% assign strings = site.data.strings %}
{% assign colon = strings.colon | default:":" %}
{% assign icons = strings.resume.icons %}
{% assign present = strings.resume.present | default:"present" %}
{% assign from_to_separator = strings.resume.from_to_separator | default:"–" %}
{% assign from_to_format = strings.date_formats.resume | default:"%b %Y" %}

{% assign nsd = site.hydejack.no_structured_data | default:site.no_structured_data %}
{% assign resume = site.data.resume %}

<article class="page {% unless nsd %}vcard h-card{% endunless %}" role="article" {% unless nsd %}vocab="http://schema.org/" typeof="Person"{% endunless %}>
  <meta property="mainEntityOfPage" content="{{ page.url | absolute_url }}"/>

  {% assign basics = resume.basics %}

  <header class="hr">
    <h1 class="page-title fn p-name" property="name">{{ basics.name }}</h1>

    {% if basics.picture.size > 0 %}
      {% include srcset-img.html class="avatar photo u-photo" img=basics.picture alt=basics.name property="image" %}
    {% endif %}

    {% if basics.label %}
      <p class="h3 faded subline title p-job-title" property="jobTitle">{{ basics.label }}</p>
    {% endif %}
  </header>

  {% if basics.summary.size > 0 %}
  <div class="about-paragraph" style="text-align: justify">
    <p class="note p-note" property="description">
      {{ basics.summary | markdownify | replace:'<p>','' | replace:'</p>','' }}
    </p>
  </div>
  {% endif %}

  <div id="infopanel" class="columns">
      {% if resume.news.size > 0 %}
        <section>
        <h2 id="news" class="h3 faded hr">
          {{ "News" }}
          <span class="symbol {{ icons.news | default:'icon-earth' }}"></span>
        </h2>
        {% for info in resume.news %}
          <!-- Implement news html here -->
          <li>
            {% if info.isnew.size > 0%}
              <font color="red">{{ info.date }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
            {% else %}
              <font color="black"> {{ info.date }} &nbsp;&nbsp;</font>
            {% endif %}
            {% for quote in info.content %}
              {% if quote.isbold %}
              <strong>{{ quote.content }}</strong>
              {% else %}
                {% if quote.isemphasize.size > 0 %}
                <strong><font color="red"> {{ quote.content }} </font></strong>
                {% else %}
                  {% if quote.islink.size > 0 %}
                    <a href="{{quote.link}}">{{ quote.content }}</a>
                  {% else %}
                    <font color="black"> {{ quote.content }}</font>
                  {% endif %}
                {% endif%}
              {% endif %}
            {% endfor %}
          </li>
        {% endfor %}
        </section>
      {% endif %}


      {% if resume.publications.size > 0 %}
        <section>
        <h2 id="pselected" class="h3 faded hr">
          {{ "Selected Publications" }}  (<small><a href="/publications/">All publications</a></small>)
          <span class="symbol {{ icons.publications | default:'icon-book' }}"></span>
        </h2>
        <dl class="publications">
          <div class="pitems">
          {% for publication in resume.publications %}
            {% if publication.isselected.size > 0 %}
            <div class="item mix cpaper t_cv mix_all" style="display: block;  opacity: 1;">
              <div class="pubmain">
                <div class="row">
                  <div class="pubassets">
                    {% if publication.website.size > 0 %}
                    <a href="{{publication.website}}" title="Project Page">
                      <i class="fa fa-expand"></i>
                    </a>
                    {% endif %}
                    {% if publication.code.size > 0 %}
                    <a href="{{publication.code}}" title="Code">
                      <i class="fa fa-code"></i>
                    </a>
                    {% endif %}
                    {% if publication.supplementary.size > 0 %}
                    <a href="{{publication.supplementary}}" title="Supplementary Download">
                      <i class="fa fa-file-pdf-o"></i>
                    </a>
                    {% endif %}
                    {% if publication.paper.size > 0 %}
                    <a href="{{publication.paper}}" title="Paper Download">
                      <i class="fa fa-file-pdf-o"></i>
                    </a>
                    {% endif %}
                  </div>
                  <div class="col-md-4" align="center">
                    <img src="{{publication.img}}" class="thumbnail img-responsive" style="max-height:200px;">
                  </div>
                  <div class="col-md-8">
                    <h4 class="pubtitle">{{publication.name}}</h4>
                    <div class="pubauthor">
                      {% for author in publication.authors %}
                        {% if author.isme.size > 0 %}
                          <font size="3"><strong>{{author.name}}</strong></font>
                        {% else %}
                          {% if author.website.size > 0 %}
                            <font size="3"><a href="{{author.website}}">{{author.name}}</a></font>
                          {% else %}
                            <font size="3"><label>{{author.name}}</label></font>
                          {% endif %}
                        {% endif %}
                        {% if forloop.last %}
                          .
                        {% else %}
                          ,
                        {% endif %}
                      {% endfor %}
                      <br>
                    </div>
                    <div class="pubcite">
                      <i><font size="3">{{publication.conference}}</font></i>
                      {% if publication.special.size > 0 %}
                        <i><font size="3">(<strong><font color="red">{{publication.special}}</font></strong>)</font></i>
                      {% endif %}
                      <br>
                      {% if publication.supp.size > 0 %}
                        {{publication.supp}}
                      {% endif %}
                      <br>
                      <label class="pubtype"><img src={{publication.type}}></label>
                      <label class="pubtype"><img src={{publication.theme}}></label>
                    </div>
                  </div>
                </div>
              </div>
              {% if publication.abstract.size > 0 %}
              <div class="pubdetails" style="display: block;">
                <h4>Abstract</h4>
                <p align="justify">
                  {{ publication.abstract }}
                </p>
              </div>
              {% endif %}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        </dl>
        </section>
      {% endif %}

      {% if resume.education.size > 0 %}
        <section>
        <h2 id="education" class="h3 faded hr">
          {{ strings.resume.education | default:"Education" }}
          <span class="symbol {{ icons.education | default:'icon-library' }}"></span>
        </h2>
        {% for edu in resume.education %}
            <table class="education" border="0">
              <tbody>
                <tr width="1%" border="0"></tr>
                <tr>
                  <header class="{% unless forloop.first %}mt3{% endunless %}">
                    <td class='education education-img'>
                    <img class = "school_avatar" src="{{edu.img}}">
                    </td>
                    <td class='education education-info'>
                    {% if edu.startDate.size > 0 %}
                      <p class="faded">
                        <time datetime="{{ edu.startDate }}">{{ edu.startDate | date:from_to_format }}</time>
                        {{ from_to_separator }}
                        {% if edu.endDate.size > 0 %}
                          <time datetime="{{ edu.endDate }}">{{ edu.endDate | date:from_to_format }}</time>
                        {% else %}
                          <em>{{ present }}</em>
                        {% endif %}
                      </p>
                    {% endif %}
                    <h3 class="h4 faded" {% if edu.endDate.size > 0 %}property="alumniOf" typeof="EducationalOrganization"{% endif %}>
                      {% for degree in edu.degree %}
                        {% capture study_type %}<span class="bc">{{ degree.studyType }}</span>{% endcapture %}
                        {% capture area %}<span class="bc">{{ degree.area }}</span>{% endcapture %}
                        {% capture institution %}<span class="bc" {% if edu.endDate.size > 0 %}property="name"{% endif %}>{{ edu.institution }}</span>{% endcapture %}
                        {% capture gpa %}<span class="bc">{{ edu.gpa }}</span>{% endcapture %}
                        {{ strings.resume.education_title
                          | default:"<!--study_type--> in <!--area--> from <!--institution--> with GPA of <!--gpa-->"
                          | replace:"<!--study_type-->", study_type
                          | replace:"<!--area-->", area
                          | replace:"<!--institution-->", institution
                          | replace:"<!--gpa-->", gpa
                        }}
                        <br>
                      {% endfor %}
                    </h3>
                     <h4 class="sr-only">{{ strings.resume.courses | default:"Courses" }}</h4>
                        <ul>
                          {% for course in edu.courses %}
                           <li>{{ course }}</li>
                          {% endfor %}
                        </ul>
                    </h4>
                    </td>
                  </header>
            </tr>
          </tbody>
        </table>
        {% endfor %}
        </section>
      {% endif %}
      
      
      {% if resume.work.size > 0 %}
        <section>
        <h2 id="work" class="h3 faded hr">
          {{ strings.resume.work | default:"Experience" }}
          <span class="symbol {{ icons.work | default:'icon-briefcase' }}"></span>
        </h2>
        {% for work in resume.work %}
          <header
            class="{% unless forloop.first %}mt3{% endunless %}"
            property="{% if work.endDate.size > 0 %}alumniOf{% else %}worksFor{% endif %}"
            typeof="Organization"
            >
            {% if work.startDate.size > 0 %}
              <p class="faded">
                <time datetime="{{ work.startDate }}">{{ work.startDate | date:from_to_format }}</time>
                {{ from_to_separator }}
                {% if work.endDate.size > 0 %}
                  <time datetime="{{ work.endDate }}">{{ work.endDate | date:from_to_format }}</time>
                {% else %}
                  <em>{{ present }}</em>
                {% endif %}
              </p>
            {% endif %}
            <h3 class="h4 faded">
              <meta property="name" content="{{ work.company }}"/>
              {% capture position %}<span class="bc">{{ work.position }}</span>{% endcapture %}
              {% capture company_class %}{% if work.endDate.size > 0 %}{% else %}org p-org h-card{% endif %}{% endcapture %}
              {% capture company %}{% include link.html title=work.company href=work.website class=company_class span_class="bc" property="sameAs" %}{% endcapture %}
              {{ strings.resume.work_title
                | default:"<!--position--> at <!--company-->"
                | replace:"<!--position-->", position
                | replace:"<!--company-->", company
              }}
            </h3>
          </header>

          {% include message.html text=work.summary alt="" %}

          <h4 class="sr-only">{{ strings.resume.highlights | default:"Highlights" }}</h4>
          <ul>
            {% for highlight in work.highlights %}
              <li>{{ highlight }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
        </section>
      {% endif %}

      {% if resume.references.size > 0 %}
        <section>
        <h2 id="references" class="h3 faded hr">
          {{ strings.resume.references | default:"References" }}
          <span class="symbol {{ icons.references | default:'icon-quotes-right' }}"></span>
        </h2>
        {% for ref in resume.references %}
          <blockquote class="reference">
            <p>{{ ref.reference }}</p>
            <footer>— <cite>{{ ref.name }}</cite></footer>
          </blockquote>
        {% endfor %}
        </section>
      {% endif %}
      {% if resume.languages.size > 0 %}
        <section>
        <h2 id="languages" class="h3 faded hr">
          {{ strings.resume.languages | default:"Languages" }}
          <span class="symbol {{ icons.languages | default:'icon-bubbles' }}"></span>
        </h2>
        <dl class="skills">
          {% for lng in resume.languages %}
            <dt class="h4 fl">{{ lng.language }}</dt>
            <dd class="faded clearafter">
              <div class="fr mb05">
                <span class="sr-only">{{ strings.resume.fluency | default:"Fluency" }}{{ colon }}</span>
                {% assign fluency = lng.fluency | slugify %}
                {% case fluency %}
                  {% when 5 or "native-or-bilingual-proficiency" %}
                    <span class="help" title="{{ lng.fluency }}">
                      <span class="sr-only">{{ lng.fluency }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span>
                    </span>
                  {% when 4 or "full-professional-proficiency" %}
                    <span class="help" title="{{ lng.fluency }}">
                      <span class="sr-only">{{ lng.fluency }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-half"></span>
                    </span>
                  {% when 3 or "professional-working-proficiency" %}
                    <span class="help" title="{{ lng.fluency }}">
                      <span class="sr-only">{{ lng.fluency }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span>
                    </span>
                  {% when 2 or "limited-working-proficiency" %}
                    <span class="help" title="{{ lng.fluency }}">
                      <span class="sr-only">{{ lng.fluency }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-half"></span><span class="icon-star-empty"></span>
                    </span>
                  {% when 1 or "elementary-proficiency" %}
                    <span class="help" title="{{ lng.fluency }}">
                      <span class="sr-only">{{ lng.fluency }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
                    </span>
                  {% when 0 or "no-proficiency" %}
                    <span class="help" title="{{ lng.fluency }}">
                      <span class="sr-only">{{ lng.fluency }}</span>
                      <span class="icon-star-half"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
                    </span>
                  {% else %}
                    {{ lng.fluency }}
                {% endcase %}
              </div>
            </dd>
          {% endfor %}
        </dl>
        </section>
      {% endif %}

      {% if resume.skills.size > 0 %}
        <section>
        <h2 id="skills" class="h3 faded hr">
          {{ strings.resume.skills | default:"Skills" }}
          <span class="symbol {{ icons.skills | default:'icon-wrench' }}"></span>
        </h2>
        <dl class="skills">
          {% for skl in resume.skills %}
            <dt class="h4 fl">{{ skl.name }}</dt>
            <dd class="faded clearafter">
              <div class="fr mb05">
                <span class="sr-only">{{ strings.resume.level | default:"Level" }}{{ colon }}</span>
                {% assign level = skl.level | slugify %}
                {% case level %}
                  {% when 3 or "master" or "expert" or "senior" %}
                    <span class="help" title="{{ skl.level }}">
                      <span class="sr-only">{{ skl.level }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span>
                    </span>
                  {% when 2 or "intermediate" or "amateur"  %}
                    <span class="help" title="{{ skl.level }}">
                      <span class="sr-only">{{ skl.level }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span>
                    </span>
                  {% when 1 or "beginner" or "novice" or "junior" %}
                    <span class="help" title="{{ skl.level }}">
                      <span class="sr-only">{{ skl.level }}</span>
                      <span class="icon-star-full"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
                    </span>
                  {% else %}
                    {{ skl.level }}
                {% endcase %}
              </div>
              {% if skl.keywords.size > 0 %}
              <div>
                <span class="sr-only">{{ strings.resume.keywords | default:"Keywords" }}{{ colon }}</span>
                <ul class="tags">
                  {% for key in skl.keywords %}
                    <li class="tag">{{ key }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </dd>
          {% endfor %}
        </dl>
        </section>
      {% endif %}

      {% if resume.interests.size > 0 %}
        <section>
        <h2 id="interests" class="h3 faded hr">
          {{ strings.resume.interests | default:"Interests" }}
          <span class="symbol {{ icons.interests | default:'icon-heart' }}"></span>
        </h2>
        <dl class="skills">
          {% for int in resume.interests %}
            <dt class="h4">{{ int.name }}</dt>
            <dd>
              <span class="sr-only">{{ strings.resume.keywords | default:"Keywords" }}{{ colon }}</span>
              <ul class="tags">
                {% for key in int.keywords %}
                  <li class="tag">{{ key }}</li>
                {% endfor %}
              </ul>
            </dd>
          {% endfor %}
        </dl>
        </section>
      {% endif %}

<!--       {% if resume.publications.size > 0 %}
        <section>
        <h2 id="publications" class="h3 faded hr">
          {{ "Publications" }}
          <span class="symbol {{ icons.publications | default:'icon-book' }}"></span>
        </h2>
        <dl class="publications">
          <div class="pitems">
          {% for publication in resume.publications %}
            <div class="item mix cpaper t_cv mix_all" style="display: block;  opacity: 1;">
              <div class="pubmain">
                <div class="row">
                  <div class="pubassets">
                    {% if publication.website.size > 0 %}
                    <a href="{{publication.website}}" title="Project Page">
                      <i class="fa fa-expand"></i>
                    </a>
                    {% endif %}
                    {% if publication.code.size > 0 %}
                    <a href="{{publication.code}}" title="Code">
                      <i class="fa fa-code"></i>
                    </a>
                    {% endif %}
                    {% if publication.supplementary.size > 0 %}
                    <a href="{{publication.supplementary}}" title="Supplementary Download">
                      <i class="fa fa-file-pdf-o"></i>
                    </a>
                    {% endif %}
                    {% if publication.paper.size > 0 %}
                    <a href="{{publication.paper}}" title="Paper Download">
                      <i class="fa fa-file-pdf-o"></i>
                    </a>
                    {% endif %}
                  </div>
                  <div class="col-md-4" align="center">
                    <img src="{{publication.img}}" class="thumbnail img-responsive" style="max-height:200px;">
                  </div>
                  <div class="col-md-8">
                    <h4 class="pubtitle">{{publication.name}}</h4>
                    <div class="pubauthor">
                      {% for author in publication.authors %}
                        {% if author.isme.size > 0 %}
                          <font size="3"><strong>{{author.name}}</strong></font>
                        {% else %}
                          {% if author.website.size > 0 %}
                            <font size="3"><a href="{{author.website}}">{{author.name}}</a></font>
                          {% else %}
                            <font size="3"><label>{{author.name}}</label></font>
                          {% endif %}
                        {% endif %}
                        {% if forloop.last %}
                          .
                        {% else %}
                          ,
                        {% endif %}
                      {% endfor %}
                      <br>
                    </div>
                    <div class="pubcite">
                      <i><font size="3">{{publication.conference}}</font></i>
                      {% if publication.special.size > 0 %}
                        <i><font size="3">(<strong><font color="red">{{publication.special}}</font></strong>)</font></i>
                      {% endif %}
                      <br>
                      <label class="pubtype"><img src={{publication.type}}></label>
                      <label class="pubtype"><img src={{publication.theme}}></label>
                    </div>
                  </div>
                </div>
              </div>
              {% if publication.abstract.size > 0 %}
              <div class="pubdetails" style="display: block;">
                <h4>Abstract</h4>
                <p align="justify">
                  {{ publication.abstract }}
                </p>
              </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        </dl>
        </section>
      {% endif %} -->

      {% if resume.awards.size > 0 %}
        <section>
        <h2 id="awards" class="h3 faded hr">
          {{ strings.resume.awards | default:"Awards" }}
          <span class="symbol {{ icons.awards | default:'icon-trophy' }}"></span>
        </h2>
        {% for awa in resume.awards %}
          <header class="{% unless forloop.first %}mt3{% endunless %}">
            {% if awa.date.size > 0 %}
              <p class="faded">
                <time datetime="{{ awa.date }}">{{ awa.date | date:from_to_format }}</time>
              </p>
            {% endif %}
            <h3 class="h4 faded" property="award">
              {% capture title %}<span class="bc">{{ awa.title }}</span>{% endcapture %}
              {% capture awarder %}<span class="bc">{{ awa.awarder }}</span>{% endcapture %}
              {{ strings.resume.awards_title
                | default:"<!--title--> from <!--awarder-->"
                | replace:"<!--title-->", title
                | replace:"<!--awarder-->", awarder
              }}
            </h3>
          </header>
          <!--{% include message.html text=awa.summary alt="" %}-->
        {% endfor %}
        </section>
      {% endif %}
  </div>
</article>
